html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --size: 60px;
  --border-color: #fa8072;
}

.🎄 {
  display: inline-flex;
  /* flex-direction: column; */
  gap: 8px;
  font-size: 20px;
}

.✨ {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: var(--size);
  height: var(--size);
  padding: 5px;
  border: 2px dashed var(--border-color);
  color: aquamarine;
  cursor: pointer;
}
